<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photogram App | Group E</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <div class="logo">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('home') }}"><span><i class="fa-solid fa-camera-retro camera-icon"></i></span>Photogram</a>
              </li>
            </div>
            <div class="secondary-navs">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('explore') }}">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
            </div>
        </ul>
      </nav>
    </header>

    <main>
        <div class="container">
            {% with messages =
              get_flashed_messages(with_categories=true) %}
             {% if messages %}
             <ul class="flashes">
             {% for category, message in messages %}
             <li class="{{ category }}">{{ message }}</li>
             {% endfor %}
             </ul>
             {% endif %}
            {% endwith %}
        </div>
        {% block main %}{% endblock %}
    </main>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% block js %} {% endblock%}
  </body>
</html>