{% extends "base.html" %}

{% block main %}
<div class="explore-page">
    <div class="explore-container">
        <div class="photo-card explore-card">
            <div class="explore-header">
                <span><i class="fa-solid fa-user-astronaut"></i></span>
                <p class="explore-username">jperalta</p>
            </div>
            <img src="{{ url_for('static', filename='images/explore-img-1.jpg') }}" alt="">
            <div class="explore-footer">
                <p class="explore-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium non repudiandae, qui asperiores quisquam eum id officia laboriosam? Maxime vitae ea dignissimos voluptas rerum quisquam eum quo ratione? Rerum nostrum nihil ab sed ducimus sit a sint, repellendus, velit, quia deleniti quae iusto error nam? Aperiam obcaecati optio cum!</p>
                <div class="explore-stats">
                    <div class="explore-likes">
                        <span><i class="fa-regular fa-heart"></i></span>
                        <p class="explore-num-likes">10 Likes</p>
                    </div>
                    <p class="explore-date">24 Apr 2018</p>
                </div>
            </div>
        </div>
    
        <div class="photo-card explore-card">
            <div class="explore-header">
                <span><i class="fa-solid fa-user-astronaut"></i></span>
                <p class="explore-username">jperalta</p>
            </div>
            <img src="{{ url_for('static', filename='images/explore-img-1.jpg') }}" alt="">
            <div class="explore-footer">
                <p class="explore-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium non repudiandae, qui asperiores quisquam eum id officia laboriosam? Maxime vitae ea dignissimos voluptas rerum quisquam eum quo ratione? Rerum nostrum nihil ab sed ducimus sit a sint, repellendus, velit, quia deleniti quae iusto error nam? Aperiam obcaecati optio cum!</p>
                <div class="explore-stats">
                    <div class="explore-likes">
                        <span><i class="fa-regular fa-heart"></i></span>
                        <p class="explore-num-likes">10 Likes</p>
                    </div>
                    <p class="explore-date">24 Apr 2018</p>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-login explore-btn"><a href="{{ url_for('post') }}">New Post</a></button>
</div>

{% endblock %}