{% extends "base.html" %}

{% block main %}
<div class="photo-container photo-container-login">
    <p class="photo-title">Login</p>
    {% include 'flashes.html' %}
    <div class="photo-card photo-card-solid">
        <form method="post">
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.username.label() }}
                {{ form.username(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(class='form-control') }}
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-register">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}