{% extends "base.html" %}

{% block main %}
<div class="photo-card profile-header">
    <img src="{{url_for('static', filename='images/profile-avatar.svg')}}" alt="" class="profile-photo">
    
    <div class="profile-about">
        <p class="profile-name">Rosa Diaz</p>
        <div class="profile-more-info">
            <p class="profile-location">Kingston, Jamaica</p>
            <p class="profile-member">Member since January 2018</p>
        </div>
        <div class="profile-bio">
            <p>This is my short biography so you can learn more about me.</p>
        </div>
    </div>

    <div class="profile-stats">
        <div class="posts-and-followers">
            <div class="posts">
                <p class="num-posts stats-count">6</p>
                <p class="stats-label">Posts</p>
            </div>
            <div class="followers">
                <p class="num-followers stats-count">10</p>
                <p class="stats-label">Followers</p>
            </div>
        </div>

        <div class="btn btn-login" id="follow-btn">Follow</div>
    </div>
</div>

<div class="profile-uploads">
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/one.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/five.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/two.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/three.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/four.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/six.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/seven.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/four.jpg')}}" alt="">
    </div>
    <div class="uploaded-img-container">
        <img class="uploaded-img" src="{{url_for('static', filename='images/temp-imgs/four.jpg')}}" alt="">
    </div>
</div>
{% endblock %}